.ui-menu-item {
    background: #f1f1f1;
    display: block;
    margin-left: -0.1%;
    background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
    border: 1px solid #eaeaea;
    border: 1px solid rgba(51, 51, 51, 0.1);
    color: #707070;
    color: rgba(51, 51, 51, 0.7);
    max-width: 200px;
}

#langsAutocompSkills {
    max-width: 200px;
}
