.ui-menu-item {
    background: #f1f1f1;
    display: block;
    margin-left: -0.1%;
    background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
    border: 1px solid #eaeaea;
    border: 1px solid rgba(51, 51, 51, 0.1);
    color: #707070;
    color: rgba(51, 51, 51, 0.7);
    max-width: 200px;
}

#langsAutocompSkills {
    max-width: 200px;
}

@media screen and (max-width: 470px) {
    #langsAutocompSkills {
        display: block;
    }
}

#badge_portfolio_form span.save_error {
    background-color: #FFBABA;
    display: block;
    color: #D8000C;
}

span.save_success {
    margin-left: 1em;
    color: limegreen;
}

#skills_selected_lang_div {
    font-weight: bold;
    float: right;
    margin-bottom: 3%;
    border: 0.3em dashed #F3F6F9;
    padding: 1em;
    font-size: 1.3em;
}

#skills_delete_record_div {
    font-weight: bold;
    float: left;
    margin-bottom: 3%;
    border: 0.3em dashed #F3F6F9;
    padding: 1em;
    font-size: 1.3em;
}

#skills_div a {
    display: inline-block;
    padding: 1em;
    border: 0.08em dashed black;
    margin-right: 0.1em;
    margin-bottom: 1em;
}

    #skills_div a.selected {
        background-color: lightblue;
        border: 0.08em solid lightblue;
    }

#skills_questions_div td.A1 {
    /*EXAMPLE CSS */
}
